
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angular/app")
</head>
<body ng-app="twitterApp" ng-controller="twitterAppCtrl">
    <div> 
       <login></login>

        <p><a href="#/!">Main</a></p>

        <a href="#!red">Red</a>
        <a href="#!green">Green</a>
        <a href="#!blue">Blue</a>

    </div>
</body>
</html>
